body {
    /* Remove border from page to make map full screen */
    margin: 0;
}

#map {
    /* Make the map the full page height */
    height: 100vh;
}

.closest-button button {
    /* Add nice CSS here */
    background-color: lightgrey;
}
